* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'tato', sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #226994;

}
.container{
    margin: auto;
    height: auto;
}

.main-content{
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    color: #fff;
    
    box-shadow: 0, 0, 10px;
}
.main-content .text-area {
    font-size: 1.5rem;
    line-height: 1.5;
}
.main-content .person{
    display: flex;
    justify-content: end;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 2rem;
}
.button-area button{
    width: 250px;
    background-color: #2962FF;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid blue;

}
.button-area button:active {
    background-color: lightblue;
}
footer{
    position: fixed; 
    width: 100%;
    bottom: 0;
}
footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A237E;
    color: #fff;
    padding: 10px 10px;
}